<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop 
          http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
          http://www.springframework.org/schema/context 
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/tx 
          http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/util 
          http://www.springframework.org/schema/util/spring-util-3.0.xsd">

    <!-- 数据库配置begin -->
    <aop:aspectj-autoproxy/>
    
    <bean
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/jdbc.properties</value>
            </list>
        </property>
    </bean>

    <bean id="parentDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
        <property name="minPoolSize" value="${jdbc.minPoolSize}" />
        <property name="initialPoolSize" value="${jdbc.initialPoolSize}" />
        <property name="acquireIncrement" value="${jdbc.acquireIncrement}" />
        <property name="maxIdleTime" value="${jdbc.maxIdleTime}" />
        <property name="idleConnectionTestPeriod" value="${jdbc.idleConnectionTestPeriod}" />
    </bean>
    <!-- main主数据源 -->
    <bean id="mainMasterDataSource" parent="parentDataSource">
        <property name="driverClass" value="${main.master.jdbc.driverClass}" />
        <property name="jdbcUrl" value="${main.master.jdbc.jdbcUrl}" />
        <property name="user" value="${main.master.jdbc.user}" />
        <property name="password" value="${main.master.jdbc.password}" />
    </bean>
    <!-- main从数据源 -->
    <bean id="mainSlaveDataSource" parent="parentDataSource">
        <property name="driverClass" value="${main.slave.jdbc.driverClass}" />
        <property name="jdbcUrl" value="${main.slave.jdbc.jdbcUrl}" />
        <property name="user" value="${main.slave.jdbc.user}" />
        <property name="password" value="${main.slave.jdbc.password}" />
    </bean>
    <!-- 用于动态选择主、从数据库的数据源实现 -->
    <bean id="dataSource" class="com.wenchanter.web.sample.aop.DynamicDataSource">
        <property name="targetDataSources">
            <map key-type="java.lang.String">
                <entry key="slave" value-ref="mainSlaveDataSource" />
            </map>
        </property>
        <property name="defaultTargetDataSource" ref="mainMasterDataSource" />
    </bean>

    <!-- ibatis集成 -->
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:sql_map_config.xml" />
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- 切换数据源拦截器，拦截com.wenchanter.web.sample.dao下的所有类的所有方法 -->
    <bean id="dataSourceAdvisor"
        class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
        <property name="advice">
            <bean class="com.wenchanter.web.sample.aop.DataSourceAdvice">
            </bean>
        </property>
        <property name="patterns">
            <list>
                <value>com.wenchanter.web.sample.dao.impl.*DaoImpl.*</value>
            </list>
        </property>
    </bean>
    
</beans>
